.header {
  position: relative;
  height: 5rem;
  background-color: #333;
  padding: 0 1.5rem;
}

.header .logo {
  float: left;
  color: #fff;
  line-height: 5rem;
}

.header .header-nav {
  float: left;
  height: 100%;
  margin-left: 10rem;
}

.header .nav-list {
  height: 100%;
}

.header .nav-item {
  float: left;
  width: 15rem;
}

.header .nav-lk {
  color: #eee;
  font-size: 1.6rem;
  text-align: center;
  line-height: 5rem;
}

.header .fa-bars {
  float: right;
  display: none;
  color: #fff;
  font-size: 2rem;
  line-height: 5rem;
}

.banner {
  position: relative;
  height: 60vh;
  background: url(../img/banner.jpg) no-repeat center/cover;
}

.banner .avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6.5rem 0 0 -6.5rem;
  width: 13rem;
  height: 22rem;
}

.banner .avatar img {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  border: 5px solid #ddd;
  box-shadow: .5rem .8rem 1rem #333;
}

.banner .avatar .title {
  font-size: 2rem;
  text-align: center;
  color: #fff;
  text-shadow: .1rem .3rem .5rem #000;
}

.course-board {
  width: 120rem;
  margin: 50px auto;
}

.course-board .inner {
  width: 122rem;
  margin-left: -1rem;
}

.course-board .course-card {
  float: left;
  width: 25%;
  padding: 1rem;
  border: 1px solid transparent;
}

.course-board .course-card:hover {
  border-color: #ddd;
}

.course-board .course-card h1 {
  height: 4rem;
  margin-top: .5rem;
  line-height: 2rem;
  font-size: 1.4rem;
}